
<!-- These will become filled out by ngRepeats -->

<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-heading clearfix'>
      <h3 class='panel-title pull-left' style='padding-top: 9px'>Open Jobs</h3>
      <a href="#" class="btn btn-sm btn-primary pull-right">
          <span class="glyphicon glyphicon-flash"></span> Add Job
      </a>
    </div>
    <div class='list-group'>
      <a href='#' class='list-group-item'>
        <span class="fui-arrow-right icon-2x pull-right"></span>
        <h4>Draper Labs</h4>
        <p>Break strength, Color fastness, Moisture absorption</p>
      </a>
      <a href='#' class='list-group-item'>
        <span class="fui-arrow-right icon-2x pull-right"></span>
        <h4>Aperture Science</h4>
        <p>Crush strength, Rockwell hardness</p>
      </a>
      <a href='#' class='list-group-item'>
        <span class="fui-arrow-right icon-2x pull-right"></span>
        <h4>Vandelay Industries</h4>
        <p>Latex resistance, Import/Export analysis</p>
      </a>
    </div>
  </div>
</div>