<div class="modal" id='notesModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Sample Notes</h4>
      </div>
      <div class="modal-body">
        <textarea class='form-control'></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <h5 class='job-due-date'>Due Sept 13th, 2014</h5>
      <h4 class='job-number'>Job #00004239</h4>
      <img src='img/camoswatch.png' style='float: right'>
      <div class='job-info'>
        <h5>Nomenclature:</h5>
        <p>Cloth, 50/50 Nylon and Cotton</p>
      </div>
      <div class='job-info'>
        <h5>Specification:</h5>
        <p>Mil-C-1001</p>
      </div>
      <div class='job-info'>
        <h5>Test Method:</h5>
        <p>ASTM-D-5034</p>
      </div>
    </div>
    <div class='panel-heading clearfix'>
      <h3 class='panel-title panel-title-lg pull-left'>Test Data</h3>
    </div>
    <div class='panel-body'>
      <ul class='nav nav-tabs' role='tablist'>
        <li class='active'><a ng-click='$event.preventDefault()' href='#warp' role='tab' data-toggle='tab'>Warp</a></li>
        <li><a ng-click='$event.preventDefault()' href='#fill' role='tab' data-toggle='tab'>Fill</a></li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane active' id='warp'>
          <table class='table'>
            <thead>
              <tr>
                <td>Sample</td>
                <td>Break strength</td>
                <td>Break elongation</td>
                <td>Notes</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='sample-no'>1.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default' data-toggle="modal" data-target="#notesModal">
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class='sample-no'>2.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class='sample-no'>3.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class='sample-no'>4.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class='sample-no'>5.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td colspan='2'>
                  <a href='#' class='btn btn-block btn-primary'>
                    <span class='glyphicon glyphicon-plus'></span>
                    &nbsp;Add sample
                  </a>
                </td>
                <td colspan='2'>
                  <a href='#' class='btn btn-block btn-warning'>
                    <span class='glyphicon glyphicon-minus'></span>
                    &nbsp;Remove sample
                  </a>
                </td>
              </tr>              
            </tbody>
          </table>
        </div>
        <div class='tab-pane' id='fill'>
          <table class='table'>
            <thead>
              <tr>
                <td>Sample</td>
                <td>Break strength</td>
                <td>Break elongation</td>
                <td>Notes</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='sample-no'>1.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class='sample-no'>2.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class='sample-no'>3.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class='sample-no'>4.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td class='sample-no'>5.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr> 
              <tr>
                <td class='sample-no'>6.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr> 
              <tr>
                <td class='sample-no'>7.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr> 
              <tr>
                <td class='sample-no'>8.</td>
                <td><input type='text' class='form-control input-sm'></td>
                <td><input type='text' class='form-control input-sm'></td>
                <td>
                  <a href='#' class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
      <div class='pull-right'>
        <a ng-click='$event.preventDefault()' href='#' class='btn btn-inverse'>Submit Test Results</a>
      </div>
    </div>
  </div>
</div>