
<div ng-repeat='sample in warpTest' class='modal' id="{{'notesModal' + ($index + 1)}}">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>Notes for Sample {{$index + 1}}</h4>
      </div>
      <div class='modal-body'>
        <textarea class='form-control' ng-model='sample.notes'></textarea>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <h5 class='job-due-date'>Due Sept 13th, 2014</h5>
      <h4 class='job-number'>Job #0000{{jobid}}</h4>
      <img src='img/camoswatch.png' style='float: right'>
      <div class='job-info'>
        <h5>Nomenclature:</h5>
        <p>{{nomenclature}}</p>
      </div>
      <div class='job-info'>
        <h5>Specification:</h5>
        <p>{{spec}}</p>
      </div>
      <div class='job-info'>
        <h5>Test Method:</h5>
        <p>{{testMethod}}</p>
      </div>
    </div>
    <div class='panel-heading clearfix'>
      <h3 class='panel-title panel-title-lg pull-left'>Test Data</h3>
        <a ng-click='$event.preventDefault()' href='#' class='btn btn-primary pull-right'><span class='fui-check'></span>
          &nbsp;Complete Test
          </a>     
    </div>
    <div class='panel-body'>
      <ul class='nav nav-tabs' role='tablist'>
        <li class='active'><a ng-click='$event.preventDefault()' href='#warp' role='tab' data-toggle='tab'>Warp</a></li>
        <li><a ng-click='$event.preventDefault()' href='#fill' role='tab' data-toggle='tab'>Fill</a></li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane active' id='warp'>
          <table class='table'>
            <thead>
              <tr>
                <td>Sample</td>
                <td>Break strength</td>
                <td>Break elongation</td>
                <td>Notes</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="sample in warpTest">
                <td class='sample-no'>{{$index + 1}}</td>
                <td><input type='text' class='form-control input-sm' ng-model='sample.strength'></td>
                <td><input type='text' class='form-control input-sm' ng-model='sample.elongation'></td>
                <td>
                  <a ng-click='$event.preventDefault()' href='#' class='btn btn-sm btn-default' data-toggle="modal" data-target="{{'#notesModal' + ($index + 1)}}">
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>                  
              </tr>
              <tr>
                <td colspan='2'>
                  <a ng-click='$event.preventDefault(); addWarpSample()' href='#' class='btn btn-block btn-inverse'>
                    <span class='glyphicon glyphicon-plus'></span>
                    &nbsp;Add sample
                  </a>
                </td>
                <td colspan='2'>
                  <a ng-click='$event.preventDefault(); removeWarpSample()' href='#' class='btn btn-block btn-inverse'>
                    <span class='glyphicon glyphicon-minus'></span>
                    &nbsp;Remove sample
                  </a>
                </td>
              </tr>              
            </tbody>
          </table>
        </div>
        <div class='tab-pane' id='fill'>
          <table class='table'>
            <thead>
              <tr>
                <td>Sample</td>
                <td>Break strength</td>
                <td>Break elongation</td>
                <td>Notes</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="sample in fillTest">
                <td class='sample-no'>{{$index + 1}}</td>
                <td><input type='text' class='form-control input-sm' ng-model='sample.strength'></td>
                <td><input type='text' class='form-control input-sm' ng-model='sample.elongation'></td>
                <td>
                  <a ng-click='$event.preventDefault()' href='#' class='btn btn-sm btn-default' data-toggle="modal" data-target="{{'#notesModal' + ($index + 1)}}">
                    <span class='glyphicon glyphicon-file'></span>
                  </a>
                </td>                  
              </tr>
              <tr>
                <td colspan='2'>
                  <a ng-click='$event.preventDefault(); addFillSample()' href='#' class='btn btn-block btn-inverse'>
                    <span class='glyphicon glyphicon-plus'></span>
                    &nbsp;Add sample
                  </a>
                </td>
                <td colspan='2'>
                  <a ng-click='$event.preventDefault(); removeFillSample()' href='#' class='btn btn-block btn-inverse'>
                    <span class='glyphicon glyphicon-minus'></span>
                    &nbsp;Remove sample
                  </a>
                </td>
              </tr>              
            </tbody>
          </table>
        </div>
      </div>
      <div class='pull-right'>

      </div>
    </div>
  </div>
</div>