<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-heading clearfix'>
      <h3 class='panel-title panel-title-lg pull-left'>Open Jobs</h3>
      <a href="#createjob/step1" class="btn btn-sm btn-primary pull-right">
          <span class="glyphicon glyphicon-flash"></span> Add Job
      </a>
    </div>
    <div class='list-group'>
      <a href='#joboverview' class='list-group-item'>
        <span class="fui-arrow-right icon-2x pull-right"></span>
        <h4>Draper Laboratory</h4>
        <p>Break strength, Color fastness, Moisture absorption</p>
      </a>
      <a href='#' class='list-group-item'>
        <span class="fui-arrow-right icon-2x pull-right"></span>
        <h4>Aperture Science</h4>
        <p>Compressive strength, Rockwell hardness</p>
      </a>
      <a href='#' class='list-group-item'>
        <span class="fui-arrow-right icon-2x pull-right"></span>
        <h4>Vandelay Industries</h4>
        <p>Latex resistance, Import/Export analysis</p>
      </a>
    </div>
  </div>
</div>