<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-heading clearfix'>
      <h3 class='panel-title panel-title-lg pull-left'>Open Jobs</h3>
      <a href="#createjob/step1" class="btn btn-sm btn-primary pull-right">
          <span class="glyphicon glyphicon-flash"></span> Add Job
      </a>
    </div>
    <div class='list-group'>
      <a ng-repeat="job in jobList | orderBy:'id'" href="{{'#/job/' + job.id}}" class='list-group-item'>
        <span class='fui-arrow-right icon-2x pull-right'></span>
        <h4 class='dash-job-number'>Job # 000{{job.id}}</h4>
        <p>{{job.customer}}</p>
        <p class='due-date'>Due {{job.dueDate}}</p>
        <!-- <span class="tag label label-info">Due {{job.dueDate}}</span> -->
      </a>
    </div>
  </div>
</div>  