<div class='row'>
  <div class='col-xs-12 col-md-6'>
    <h4>General Information</h4>
    <form role='form' id='createJobForm'>
      <div class='form-group'>
        <label class='margin-sm' for='jobNo'>Job Number</label>
          <input type='text' class='form-control' id='jobNo' name='jobNo' placeholder='00000145'>
      </div>
      <div class='form-group'>
        <label class='margin-sm' for='nomenclature'>Nomenclature</label>
          <input type='text' class='form-control' id='nomenclature' name ='nomenclature' placeholder='Cloth, 50/50 Nylon'>
      </div>            
      <div class='form-group'>
        <label class='margin-sm' for='specification'>Specification</label>
          <input type='text' class='form-control' id='specification' name='specification' placeholder='MIL-C-1001'>
      </div>
      <div class='form-group'>
        <label class='margin-sm' for='customerName'>Requestor</label>
          <input type='text' class='form-control' id='customerName' name='customerName' placeholder='XYZ Materials Inc.'>
      </div>
      <div class='form-group'>
        <label class='margin-sm' for='dueDate'>Due Date</label>
          <input type='date' class='form-control' id='dueDate' name='dueDate'>
      </div>
      <div class='form-group'>
        <label class='margin-sm' for='manufacturer'>Manufacturer</label>
          <input type='text' class='form-control' id='manufacturer' name='manufacturer' placeholder='Draper Laboratories'>
      </div>
      <div class='form-group'>
        <label class='margin-sm' for='contractNo'>Contract #</label>
          <input type='text' class='form-control' id='contractNo' name='contractNo' placeholder='ABC123X'>
      </div>
      <div class='form-group'>
        <label class='margin-sm' for='use'>Use</label>
          <input type='text' class='form-control' id='use' name='use' placeholder='Uniforms'>
      </div>
      <div class='form-group'>
        <label class='margin-sm' for='workorder'>Work Order #</label>
          <input type='text' class='form-control' id='workorder' name='workorder' placeholder='1002'>
      </div>
      <div class='form-group'>
        <label class='margin-sm' for='sampleID'>Sample ID</label>
          <input type='text' class='form-control' id='sampleID' name='sampleID' placeholder='A'>
      </div>
      <div class='form-group'>
        <label class='margin-sm' for='jobnotes'>Notes</label>
          <textarea class='form-control' id='jobnotes' name='jobnotes' placeholder='Other notes, special instructions, etc'></textarea>
      </div>
    </form>
    <div class='job-create-nav'>
      <a href='#' class='btn btn-warning'>Clear Form</a>
      <a href='testsrequired.html' class='btn btn-primary pull-right'>Select Tests 
      &nbsp;<span class='fui-arrow-right'></span>
      </a>
    </div>
  </div>
</div>