<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <h5 class='job-due-date'>Due Sept 13th, 2014</h5>
      <h3>Job #{{jobid}}</h3>
      <h4>{{customer}}</h4>
      <div class='progress'>
        <div class='progress-bar progress-bar-warning' style='width: 33%'></div>
      </div>
      <h6 class='progress-bar-title'>33% Complete</h6>
    </div>
    <div class='panel-heading clearfix'>
      <h3 class='panel-title panel-title-lg pull-left'>Pending Tests</h3>
    </div>
    <div class='list-group'>
      <a ng-repeat='test in pendingTests' href="{{'#/job/' + jobid + '/' + test.toLowerCase().split(' ').join('')}}" class='list-group-item'>
        <span class="fui-arrow-right pull-right"></span>
        <h4>{{test}}</h4>
      </a>
    </div>
    <div class='panel-heading clearfix'>
      <h3 class='panel-title panel-title-lg pull-left'>Completed Tests</h3>
    </div>
    <div class='list-group'>
      <a ng-repeat='test in completedTests' href='#' class='list-group-item'>
        <span class="fui-arrow-right pull-right"></span>
        <h4>{{test}}</h4>
      </a>
    </div>
  </div>
</div>