<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <h5 class='job-due-date'>Due Sept 13th, 2014</h5>
      <h4>Draper Laboratory</h4>
      <h5>{{jobid}}</h5>
      <p>Test information. Special instructions. Or customer information, or something else.</p>
      <div class='progress'>
        <div class='progress-bar progress-bar-warning' style='width: 33%'></div>
      </div>
      <h6 class='progress-bar-title'>33% Complete</h6>
    </div>
    <div class='panel-heading clearfix'>
      <h3 class='panel-title panel-title-lg pull-left'>Pending Tests</h3>
      <a href="#" class="btn btn-xs btn-primary pull-right">
          <span class="glyphicon glyphicon-flash"></span> Add Test
      </a>
    </div>
    <div class='list-group'>
      <a href='#breakstrength' class='list-group-item'>
        <span class="fui-arrow-right pull-right"></span>
        <h4>Break Strength</h4>
      </a>
      <a href='#' class='list-group-item'>
        <span class="fui-arrow-right pull-right"></span>
        <h4>Color Fastness</h4>
      </a>

    </div>
    <div class='panel-heading clearfix'>
      <h3 class='panel-title panel-title-lg pull-left'>Completed Tests</h3>
    </div>
    <div class='list-group'>
      <a href='#' class='list-group-item'>
        <span class="fui-arrow-right pull-right"></span>
        <h4>Moisture Absorption</h4>
      </a>
    </div>
  </div>
</div>