<div class='row'>
  <div class='col-xs-12 col-md-6'>
      <a ng-click='$event.preventDefault(); debugSubmit()' href='#' class="btn btn-danger btn-block">
          <span class="glyphicon glyphicon-flash"></span> Add Debug Job
      </a>
    <pre ng-show='Global.DEBUG'>{{ppFormData}}</pre>
    <h4>Customer Information</h4>
    <form role='form' id='createJobForm' name='step1form' novalidate>
      <div class='form-group'>
        <label class='margin-sm' for='customerName'>Company Name</label>
          <input type='text' 
            class='form-control'
            ng-class=''
            id='customerName' name='customerName' 
            ng-model='formData.customerName' 
            placeholder='Draper Laboratories' 
            required>
          </input>
          <span ng-show="step1form.customerName.$invalid && submitted" class='label label-warning'>
            Company name is required
          </span>
      </div>
      <div class='form-group'>
        <label class='margin-sm' for='contactName'>Contact Name</label>
          <input type='text' 
            class='form-control' 
            id='contactName' name ='contactName' 
            ng-model='formData.contactName' 
            placeholder='John C. Doe'
            required>
          </input>
          <span ng-show="step1form.contactName.$invalid && submitted" class='label label-warning'>
            Contact name is required
          </span>
      </div>            
      <div class='form-group'>
        <label class='margin-sm' for='contactEmail'>Contact E-mail</label>
          <input type='email' class='form-control' id='contactEmail' name='contactEmail' ng-model='formData.contactEmail' placeholder='jdoe@company.com' required>
          <span ng-show="step1form.contactEmail.$invalid && submitted" class='label label-warning'>
            Contact e-mail is required
          </span>
      </div>
      <div class='form-group'>
        <label class='margin-sm' for='contactPhone'>Contact Phone Number</label>
          <input type='tel' class='form-control' id='contactPhone' name='contactPhone' ng-model='formData.contactPhone' placeholder='781 654 1234' required>
          <span ng-show="step1form.contactPhone.$invalid && submitted" class='label label-warning'>
            Contact phone is required
          </span>
      </div>
      <h4>Contract Information</h4>
      <div class='form-group'>
        <label class='margin-sm' for='contractNo'>Contract #</label>
          <input type='text' class='form-control' id='contractNo' name='contractNo' ng-model='formData.contractNo' placeholder='ABC123X' required>
          <span ng-show="step1form.contractNo.$invalid && submitted" class='label label-warning'>
            Contract number is required
          </span>          
      </div>      
      <div class='form-group'>
        <label class='margin-sm' for='dueDate'>Due Date</label>
          <input type='date' class='form-control' id='dueDate' name='dueDate' ng-model='formData.dueDate' required>
          <span ng-show="step1form.dueDate.$invalid && submitted" class='label label-warning'>
            Due date is required
          </span>          
      </div>
      <div class='form-group'>
        <label class='margin-sm' for='costQuote'>Quoted Cost</label>
          <input type='number' class='form-control' id='costQuote' name='costQuote' ng-model='formData.costQuote' placeholder='$ 10000' required>
          <span ng-show="step1form.costQuote.$invalid && submitted" class='label label-warning'>
            Quoted cost is required
          </span>
      </div>      
    </form>
    <div class='job-create-nav'>
      <a href='#' class='btn btn-inverse disabled'><span class='fui-arrow-left'></span> Back</a>
      <a ng-click="$event.preventDefault(); validateStep1();" href='#' class='btn btn-inverse pull-right'>Next 
      &nbsp;<span class='fui-arrow-right'></span>
      </a>
    </div>
  </div>
</div>