<div class='row'>
  <div class='col-xs-12 col-md-6'>
    <pre>{{ppFormData}}</pre>
    <h4>Tests Required</h4>
    <form role='form'>
      <div class='form-group'>
        <!-- <label class='checkbox checkbox-lg checkbox-margin-30' for='checkbox1'> -->
          <input type='checkbox' name='checkbox1' id='checkbox1' value='' ng-model='formData.subtests.breakstrength.required'>
          Break Strength
        </label>
        <div class='testoptions checkbox1'>
          <label>Pull Direction(s)</label>
          <label class='checkbox' for='warp'>
            <input type='checkbox' name='warp' id='warp' value='warp' data-toggle='checkbox'>
            Warp
          </label>
          <label class='checkbox' for='fill'>
            <input type='checkbox' name='fill' id='fill' value='fill' data-toggle='checkbox'>
            Fill
          </label>          

          <label>Test Method</label>
            <select name='breakstrength' class='mbn' style='display: none;'>
                <option value='0' selected='selected'>Select Test Method</option>
                <option value='1'>ASTM D 5043</option>
                <option value='2'>ASTM D 5044</option>
            </select>
        </div>
        <label class='checkbox checkbox-lg checkbox-margin-30' for='checkbox2'>
          <input type='checkbox' name='checkbox2' id='checkbox2' value='' data-toggle='checkbox'>
          Visual Shade Evaluation
        </label>
        <div class='testoptions checkbox2'>
          <label>Test Method</label>
            <select name='visualshade' class='mbn' style='display: none;'>
                <option value='0' selected='selected'>Select Test Method</option>
                <option value='1' >AATCC Procedure 9</option>
            </select>          
        </div>        
        <label class="checkbox checkbox-lg checkbox-margin-30" for="checkbox3">
          <input type="checkbox" value="" id="checkbox3" data-toggle="checkbox">
          Unnamed Test
        </label>
        <div class='testoptions checkbox3'>
          <input type='text'>
        </div>        
      </div>
    </form>
    <div class='job-create-nav'>
      <a href='#createjob/step2' class='btn btn-default'>
        <span class='fui-arrow-left'></span> Back
      </a>
      <a href='#createjob/step4' class='btn btn-primary pull-right'>
        Next &nbsp;<span class='fui-arrow-right'></span>
      </a>
    </div>       
  </div>
</div>