<div class='row'>
  <div class='col-xs-12 col-md-6'>
    <pre>{{ppFormData}}</pre>
    <h4>Tests Required</h4>
    <form role='form'>
      <div class='form-group'>
        <flatui-checkbox model='formData.subtests.breakstrength.required' label="'Break Strength'" value='tests.breakstrength.id'></flatui-checkbox>
        <div ng-show='formData.subtests.breakstrength.required' class='testoptions'>
          <label>Pull Direction(s)</label>
          <flatui-checkbox model='formData.subtests.breakstrength.warp' label="'Warp'" value=''></flatui-checkbox>
          <flatui-checkbox model='formData.subtests.breakstrength.fill' label="'Fill'" value=''></flatui-checkbox>
          <label>Test Method</label>
            <select ng-model='formData.subtests.breakstrength.testMethod' name='breakstrength-tm' class='mbn' style=''>
                <option value='0' selected='selected'>Select Test Method</option>
                <option value='ASTM D 5043'>ASTM D 5043</option>
                <option value='ASTM D 5044'>ASTM D 5044</option>
            </select>
        </div>
        <flatui-checkbox model='formData.subtests.visualshade.required' label="'Visual Shade Evaluation'" value='tests.visualshade.id'></flatui-checkbox>
        <div ng-show='formData.subtests.visualshade.required' class='testoptions'>
          <label>Test Method</label>
            <select ng-model='formData.subtests.visualshade.testMethod' name='visualshade-tm' class='mbn' style=''>
                <option value='0' selected='selected'>Select Test Method</option>
                <option value='AATCC Procedure 9'>AATCC Procedure 9</option>
            </select>          
        </div>        
      </div>
    </form>
    <div class='job-create-nav'>
      <a href='#createjob/step2' class='btn btn-default'>
        <span class='fui-arrow-left'></span> Back
      </a>
      <a href='#createjob/step4' class='btn btn-primary pull-right'>
        Next &nbsp;<span class='fui-arrow-right'></span>
      </a>
    </div>       
  </div>
</div>