<div class='row'>
  <div class='col-xs-12 col-md-6'>
    <pre>{{ppFormData}}</pre>
    <h4>Tests Required</h4>
    <form role='form'>
      <div class='form-group'>
        <flatui-checkbox model='formData.subtests.breakstrength.required' label="'Break Strength'" value='tests.breakstrength.id'></flatui-checkbox>
        <div ng-show='formData.subtests.breakstrength.required' class='testoptions'>
          <table class='breakstrength-opt'>
            <col style='width: 50%'>
            <col style='width: 50%'>
            <thead>
              <tr>
                <th><label>Pull Direction(s)</label></th>
                <th><label>Spec Limit</label></th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <flatui-checkbox model='formData.subtests.breakstrength.warp' label="'Warp'" value=''></flatui-checkbox>
                </td>
                <td><input type='text' ng-model='formData.subtests.breakstrength.warpSpecLimit' class='form-control input-sm spec-limit'></td>
              </tr>
              <tr>
                <td>
                  <flatui-checkbox model='formData.subtests.breakstrength.fill' label="'Fill'" value=''></flatui-checkbox>
                </td>
                <td><input type='text' ng-model='formData.subtests.breakstrength.fillSpecLimit'class='form-control input-sm spec-limit'></td>
              </tr>
            </tbody>

          </table>

          <label>Test Method</label>
            <select ng-model='formData.subtests.breakstrength.testMethod' name='breakstrength-tm' class='mbn' style=''>
                <option value='0' selected='selected'>Select Test Method</option>
                <option value='ASTM D 5043'>ASTM D 5043</option>
                <option value='ASTM D 5044'>ASTM D 5044</option>
            </select>
        </div>
        <flatui-checkbox model='formData.subtests.visualshade.required' label="'Visual Shade Evaluation'" value='tests.visualshade.id'></flatui-checkbox>
        <div ng-show='formData.subtests.visualshade.required' class='testoptions'>
          <label>Specification Limit</label>
          <input ng-model='formData.subtests.visualshade.specLimit' class='form-control input-sm'></input>
          <label>Test Method</label>
            <select ng-model='formData.subtests.visualshade.testMethod' name='visualshade-tm' class='mbn' style=''>
                <option value='0' selected='selected'>Select Test Method</option>
                <option value='AATCC Procedure 9'>AATCC Procedure 9</option>
            </select>          
        </div>        
      </div>
    </form>
    <div class='job-create-nav'>
      <a href='#createjob/step2' class='btn btn-default'>
        <span class='fui-arrow-left'></span> Back
      </a>
      <a ng-click='$event.preventDefault(); submit()' href='#' class='btn btn-primary pull-right'><span class='fui-check'></span>&nbsp; Submit</a>
      </a>
    </div>       
  </div>
</div>