<div class='row'>
  <div class='col-xs-12 col-md-6'>
    <h4>Tests Required</h4>
    <form role='form'>
      <div class='form-group'>
        <label class='checkbox checkbox-lg checkbox-margin-30' for='checkbox1'>
          <input type='checkbox' id='checkbox1' value='' data-toggle='checkbox'>
          Break Strength - ASTM D 5043
        </label>
        <div class='testoptions checkbox1'>
          <label>Select Pull Direction(s)</label>
          <br>
          <div class='btn-group'>
            <button type='button' class='btn btn-sm btn-default'>Warp</button>
            <button type='button' class='btn btn-sm btn-default'>Fill</button>
          </div>
          <br>
          <label>Select Test Method</label>
          <br>
          <select>
            <option>ASTM D 5043</option>
            <option>ASTM D 5045</option>
          </select>
        </div>
        <label class='checkbox checkbox-lg checkbox-margin-30' for='checkbox2'>
          <input type='checkbox' id='checkbox2' value='' data-toggle='checkbox'>
          Visual Shade - AATCC Procedure 9
        </label>
        <div class='testoptions checkbox2'>
          <input type='text'>
        </div>        
        <label class="checkbox checkbox-lg checkbox-margin-30" for="checkbox3">
          <input type="checkbox" value="" id="checkbox3" data-toggle="checkbox">
          Unnamed Test
        </label>
        <div class='testoptions checkbox3'>
          <input type='text'>
        </div>        
      </div>
    </form>
    <div class='job-create-nav'>
      <a href='jobcreation.html' class='btn btn-default'>
        <span class='fui-arrow-left'></span>
        General Info
      </a>
      <a href='reviewjob.html' class='btn btn-primary pull-right'>Review Entries 
      &nbsp;<span class='fui-arrow-right'></span>
      </a> 
    </div>         
  </div>
</div>