<div class='row'>
  <div class='col-xs-12 col-md-6'>
    <h4>Tests Required</h4>
    <form role='form'>
      <div class='form-group'>
        <label class='checkbox checkbox-lg checkbox-margin-30' for='checkbox1'>
          <input type='checkbox' id='checkbox1' value='' data-toggle='checkbox'>
          Break Strength
        </label>
        <div class='testoptions checkbox1'>
          <label>Pull Direction(s)</label>
          <label class='checkbox' for='warp'>
            <input type='checkbox' id='warp' value='' data-toggle='checkbox'>
            Warp
          </label>
          <label class='checkbox' for='fill'>
            <input type='checkbox' id='warp' value='' data-toggle='checkbox'>
            Fill
          </label>          

          <label>Test Method</label>
            <select name='info' class='mbn' style='display: none;'>
                <option value='0' selected='selected'>Select Test Method</option>
                <option value='1'>ASTM D 5043</option>
                <option value='2'>ASTM D 5044</option>
            </select>
        </div>
        <label class='checkbox checkbox-lg checkbox-margin-30' for='checkbox2'>
          <input type='checkbox' id='checkbox2' value='' data-toggle='checkbox'>
          Visual Shade Evaluation
        </label>
        <div class='testoptions checkbox2'>
          <label>Test Method</label>
            <select name='info' class='mbn' style='display: none;'>
                <option value='0' selected='selected'>Select Test Method</option>
                <option value='1' >AATCC Procedure 9</option>
            </select>          
        </div>        
        <label class="checkbox checkbox-lg checkbox-margin-30" for="checkbox3">
          <input type="checkbox" value="" id="checkbox3" data-toggle="checkbox">
          Unnamed Test
        </label>
        <div class='testoptions checkbox3'>
          <input type='text'>
        </div>        
      </div>
    </form>
    <div class='job-create-nav'>
      <a href='#createjob' class='btn btn-default'>
        <span class='fui-arrow-left'></span>
        General Info
      </a>
      <a href='reviewjob.html' class='btn btn-primary pull-right'>Review Entries 
      &nbsp;<span class='fui-arrow-right'></span>
      </a> 
    </div>         
  </div>
</div>