<!-- GET FLASK RESTLESS -->

<div ng-repeat='test in testData' class='modal' id="{{'notesModal' + ($index + 1)}}">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title'>Notes for color {{test.color}}</h4>
      </div>
      <div class='modal-body'>
        <textarea class='form-control' ng-model='test.notes'></textarea>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <h5 class='job-due-date'>Due Sept 13th, 2014</h5>
      <h4 class='job-number'>Job #00004239</h4>
      <img src='img/camoswatch.png' style='float: right'>
      <div class='job-info'>
        <h5>Nomenclature:</h5>
        <p>Cloth, 50/50 Nylon and Cotton</p>
      </div>
      <div class='job-info'>
        <h5>Specification:</h5>
        <p>Mil-C-1001</p>
      </div>
      <div class='job-info'>
        <h5>Test Method:</h5>
        <p>AATCC Procedure 9</p>
      </div>
    </div>
    <div class='panel-heading clearfix'>
      <h3 class='panel-title panel-title-lg pull-left'>Test Data</h3>
        <a ng-click='$event.preventDefault(); completeTest()' href='#' class='btn btn-primary pull-right'><span class='fui-check'></span>
          &nbsp;Complete Test</a>      
    </div>
    <div class='panel-body'>
      <table class='table'>
        <thead>
          <tr>
            <td>Color</td>
            <td>Result</td>
            <td>Notes</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="test in testData">
            <td>
              <input type='text' ng-model='test.color' class='form-control input-sm sample-color'>
            </td>
            <td>
              <select name="{{'name' + $index.toString()}}" 
                    ng-model="test.result" >
                <option value="0">Select Result</option>
                <option value="1">Acceptable</option>
                <option value="2">Not Acceptable</option>
                <option value="3">Other (see notes)</option>
              </select>
            </td>
            <td>
              <a ng-click='$event.preventDefault()' href='#' class='btn btn-sm btn-default' data-toggle="modal" data-target="{{'#notesModal' + ($index + 1)}}"><span class='glyphicon glyphicon-file'></span>
            </td>
          </tr>
        </tbody>
      </table>
        <a ng-click='$event.preventDefault(); addSample()' href='#' class='btn btn-primary'>
          <span class='glyphicon glyphicon-plus'></span>
          &nbsp;Add Color
        </a>
        <a ng-click='$event.preventDefault(); removeSample()' href='#' class='btn btn-warning'>
          <span class='glyphicon glyphicon-minus'></span>
          &nbsp;Remove Color
        </a>
        <a href='#' class='btn btn-inverse'>Complete Test</a>
    </div>
  </div>
</div>

